<!DOCTYPE html>
<html>
<head>
  <title>MapWheresMyCoffee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Map! Where's My Coffee?</h1>
  <div id="form-block">
    <form id="search-form">
      <label for="get-city">Enter your City in the form below to retrieve 10 nearby coffee shops.</label>
      <input id="get-city" type="City" placeholder="Enter City Name">
      <input id="submit-city" type="submit" value="Search">
    </form>
  </div>

  <div id="name-list">
    <ul id="results">
    </ul>
  </div>

  <div id="address-list">
    <ul id="results">
    </ul>
  </div>
  <footer><%= image_tag "yelp_logo.png" %></footer>
<%= yield %>

</body>
</html>
