<!DOCTYPE html>
<html>
<head>
  <title>MapWheresMyCoffee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Map! Where's My Coffee?</h1>
  <form id="search-form">
    <input id="get-city" type="City">
    <input type="submit" value="Search">
  </form>
  <% link_to searches_path(@search, :my_param => "san fransisco")%>
  <%= @search %>
  <div id="results"></div>

<%= yield %>

</body>
</html>
